/* General */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  padding: 16px;
}

.text-secondary {
  color: #b0b0b0;
}

.btn {
  display: block;
  width: auto;
  background-color: transparent;
  margin: 8px auto 0 auto;
  border: 1px solid #80c0a0;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.btn:hover {
  background-color: #a0ffe0;
}

.btn-100 {
  width: 100%;
}

.form {
  width: 60%;
  min-width: 480px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  margin: 0 0 8px 0;
  font-weight: bold;
}

.form-input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 4px 8px;
}

/* Header */

.header {
  border-bottom: 2px solid #b0b0b0;
  padding: 0;
}

.nav-menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav-menu-link {
  display: inline-block;
  padding: 16px;
}

.nav-menu-link.active {
  padding: 16px;
  border-bottom: 2px solid #000000;
  margin-bottom: -2px;
}

.nav-menu-link {
  text-decoration: none;
  color: #000000;
}

.nav-menu-link:hover {
  background-color: #f0f0f0;
}

.nav-auth {
  float: right;
  display: flex;
  padding: 8px 0;
}

.btn-logout {
  background: none;
  border: 0;
  margin: 0 8px;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #f0f0f0;
}

/* User */

.user {
  display: flex;
  align-items: center;
}

.user>span {
  margin: 0 0 0 8px;
}

.user-id {
  font-weight: bold;
}

.user-desc {
  text-align: left;
  margin-left: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.avatar.avatar-lg {
  width: 128px;
  height: 128px;
}

/* Login */

.app-title {
  text-align: center;
  font-size: 48px;
  font-weight: normal;
}

.alert-error {
  width: 60%;
  min-width: 480px;
  border: 2px solid #a03020;
  background-color: #d0aaaa;
  padding: 16px;
  margin: 0 auto 16px auto;
}

/* Dashboard */

.card {
  width: 80%;
  min-width: 480px;
  border: 1px solid #b0b0b0;
  padding: 0;
  margin: 0 auto 16px auto;
  border-radius: 4px;
}

.card-title {
  text-align: center;
  border-bottom: 1px solid #b0b0b0;
  background-color: #f0f0f0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-title h1 {
  margin: 0;
  padding: 8px;
}

.card-body {
  padding: 16px;
}

.poll-list {
  list-style-type: none;
}

.poll-item {
  display: inline-block;
  width: 300px;
  border: 1px solid #b0b0b0;
  margin: 4px;
  padding: 8px;
  text-align: center;
}

/* Poll Vote */

.poll-prompt {
  text-align: center;
}

.poll-options {
  display: flex;
  justify-content: center;
}

.poll-option {
  flex: 1 1 0px;
  border: 1px solid #b0b0b0;
  padding: 16px;
  margin: 4px;
}

.poll-option .btn {
  width: 100%;
}

.voters {
  text-align: left;
}

/* Poll New */

.poll-new {
  text-align: center;
}

/* Leaderboard */

.leaderboard {
  text-align: left;
  border-collapse: collapse;
  border: 1px solid #b0b0b0;
  border-radius: 10px;
  width: 80%;
  min-width: 480px;
  margin: 32px auto;
}

.leaderboard th,
.leaderboard td {
  padding: 8px;
  border-bottom: 1px solid #b0b0b0;
}

.leaderboard th {
  background-color: #f0f0f0;
}